.text{
    font-size: 20;
    color: red;
}

.yellow{
    font-size: 10;
    color: yellow;
}

.blue{
    font-size: 10;
    color: blue;
}

.body {
    background-image: url(../bg.png)!important;
}

.mapDiv {
    width: 500px;
    height: 600px;
    border: 1px solid black;
    margin-top:30px;
}