<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>html首页</title>
    <!--样式-->
    <link type="text/css" href="resources/css/a.css" rel="stylesheet">


    <!--镇江样式开始-->
    <link type="text/css" href="resource_01/css/layout/reset.css" rel="stylesheet">
    <link type="text/css" href="resource_01/css/layout/base.css" rel="stylesheet">
    <link rel="stylesheet" href="resource_01/css/master_wj.css">
    <link type="text/css" href="resource_01/css/master_liz.css" rel="stylesheet">
    <link type="text/css" href="resource_01/css/master_wy.css" rel="stylesheet">
    <link type="text/css" href="resource_01/css/debug.css" rel="stylesheet">
    <script type="text/javascript" src="lib/perfect-scrollbar/perfect-scrollbar.jquery.js"></script>
    <link rel="stylesheet" href="lib/perfect-scrollbar/perfect-scrollbar.min.css"/>
    <link type="text/css" href="resource_01/css/master_sjw.css" rel="stylesheet">
    <link type="text/css" href="resource_01/css/master_jzy.css" rel="stylesheet">
    <link type="text/css" href="resource_01/css/master_wq.css" rel="stylesheet">
    <!--镇江样式结束-->


    <!--第三方脚本引入-->
    <script type="text/javascript" src="lib/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-route.js"></script>
    <!--<script src="https://cdn.bootcss.com/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>-->
    <script type="text/javascript" src="lib/echarts.min.js"></script>
    <script type="text/javascript" src="lib/ng-file-upload.js"></script>
    <!--系统脚本 状态机-->
    <script type="text/javascript" src="state.js"></script>
    <!--<script type="text/javascript" src="user.js"></script>-->


    <script type="text/javascript" src="indexCtrl.js"></script>
    <script type="text/javascript" src="indexService.js"></script>
    <script type="text/javascript" src="computeCtrl.js"></script>
    <script type="text/javascript" src="computeService.js"></script>


    <!--定位经纬度的指令-->
    <script type="text/javascript" src="common/aMap.js"></script>

    <script type="text/javascript"
            src="http://webapi.amap.com/maps?v=1.3&key=110a94917fedab9723fb7317813fd4de">

    </script>

    <style type="text/css">
        .amap-logo {
            right: 0 !important;
            left: auto !important;
            display: none;
        }

        .amap-copyright {
            right: 70px !important;
            left: auto !important;
        }
    </style>

    <!--一个消息提示框插件-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body ng-app="app" ng-controller="indexCtrl" class="body">
    <!--左侧地图-->
    <div style="display: inline-block;width:40%;margin-left:2px;">
        <div id="mapGaoDe" class="mapDiv"></div>
        <center>
            <div class="pformList marig22" style="background-color: whitesmoke;">
                <span class="pformTit" style="width:60px;">经度：</span>
                <input type="text" class="pFormput"
                       style="width:66px;float: left" ng-model="thisProject.longitude">
                <span class="pformTit" style="width: 60px;float: left">纬度：</span>
                <input type="text" class="pFormput"
                       style="width:66px" ng-model="thisProject.latitude">
                <button ng-click="showMap=true">查看经纬度</button>
            </div>
        </center>
    </div>


    <div ng-show="showMap" style=" position: absolute;left: 50%;top:50%;z-index:100">
        <a-map></a-map>
    </div>

    <!--右侧-->
    <div style="float: right;width:55%;margin-top:5%;">
        <center>
            {{welcome}}<br>
            <button ng-click="testController()" class="text">导入数据到数据库</button>
            <button ng-click="downloadStudent()" class="text">导出学生表</button>
            {{message}}<br><br><br>

                两种跳转页面的方式
                <a ng-click="$state.go('compute')" style="color:goldenrod">上传页</a>
                <a ui-sref="compute" style="color:goldenrod">上传页</a>
            <br>

        </center>
        <div ui-view></div>
    </div>


</body>
</html>